<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-akaIntegration" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>akaIntegration</name>
  <js-module name="akaIntegration" src="www/akaIntegration.js">
    <clobbers target="cordova.plugins.akaIntegration" />
  </js-module>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="akaIntegration">
        <param name="ios-package" value="akaIntegration" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <source-file src="src/ios/akaIntegration.m" />
    <podspec>
      <config>
      </config>
      <pods use-frameworks="true">
        <pod name="Aka-mPulse" />
        <pod name="Aka-MAP" />
      </pods>
    </podspec>
  </platform>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="akaIntegration">
        <param name="android-package" value="com.akamai.android.AkaIntegration" />
        <param name="onload" value="true"/>
      </feature>
    </config-file>
    <framework src="src/android/com/akamai/android/custom.gradle" custom="true" type="gradleReference"/>
    <source-file src="src/android/com/akamai/android/AkaIntegration.java" target-dir="src/com/akamai/android/AkaIntegration" />
  </platform>
</plugin>
